table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
}

thead {
    margin: 10px;
}

th {
    background-color: rgb(113, 163, 193);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 5px;
    text-align: center;
}

th:first-child,
td:first-child {
    border-left: 0;
}

th:last-child,
td:last-child {
    border-right: 0;
}

tr:hover {
    background: #fff;
}

td:last-of-type {
    text-align: center;
}

tbody {
    background-color: rgb(228 240 245);
}

.input {
    margin: 10px;
}

#button {
    display: inline;
    justify-content: flex-end;
}